# Dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Configurações e Dados do Headscale
data/
config/
*.sqlite3
*.db
private.key
noise_private.key

# Variáveis de ambiente
.env

# Go Binários compilados
client/sidecar/ts-sidecar
client/sidecar/ts-sidecar.exe
client/bin/

# Electron Build Output
client/dist/
client/out/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
